@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.dangerous-html {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 16px;
  }
}
